.notific {
    position: fixed;
    z-index: 1000;
    right: 0;

    overflow-y: scroll;

    max-height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    padding: 20px 20px 0 20px;
}

.notific_top {
    top: 0;
}

.notific_bottom {
    bottom: 0;
}

.notific__alert {
    position: relative;

    width: 320px;

    margin-bottom: 20px;
    padding: 15px;

    background: #fff;

    color: #444;

    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.notific__alert_danger {
    background: #f2dede;

    color: #a94442;
}

.notific__alert_success {
    background: #dff0d8;

    color: #3c763d;
}

.notific__alert_warning {
    background: #fcf8e3;

    color: #8a6d3b;
}

.notific__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.notific__text {
    font-size: 14px;
    line-height: 18px;
}

.notific__close {
    position: absolute;
    top: 3px;
    right: 8px;

    margin: 0;
    padding: 0;

    background: transparent;

    font-size: 18px;

    cursor: pointer;

    opacity: 0.2;
    color: #000;
    border: none;
    outline: none;
}

.notific__close:hover {
    opacity: 0.5;
}
